# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 76ff86f1b7fa27661b39cda330c54ae1164fffb288d9dc3742197b87de9c865e1ecec4d8de7c1a56ba539ca7e1c4c8fd41abee6bdab6d49c2e6f2363abfc2043

test:
  secret_key_base: 8356462558d7be589de21d03b1cbf35e8447eb2db7ca4332007abea4e0632ea68fc8fffe53840eb5c629ede79614ad036cb47f91919553eec129ca257979760a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
